accessLevels: "public,protected,private"
autocomplete: "classes,constants,functions,methods,properties,classconstants"
destination: Docs
download: yes
exclude: {*.old, *.old.*} 
source: {Controller, Model, View}
main: MeYoutube
php: no
title: "MeYoutube"
todo: "yes"
